.logoImage {
  display: flex;
  margin-left: 3rem;
}

/* Configuração da logo -Brendon */
.infoCardHeadline--firstCard{
  color: #fff;
}

/* css da parte do "por que ACCT_" */

.imageElement--icone-engenharia:hover,
.imageElement--icone-habilidades:hover,
.imageElement--icone-mercado:hover,
.imageElement--icone-suporte:hover,
.imageElement--icone-seguranca:hover{
  opacity: 70%;
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
}

.imageElement--image-carrefour,
.imageElement--image-samsung,
.imageElement--image-ablnbev,
.imageElement--image-stanley,
.imageElement--image-motorola,
.imageElement--image-unilever,
.imageElement--image-whirlpool,
.imageElement--image-universal,
.imageElement--image-decathlon,
.imageElement--image-cea{
  filter: grayscale(1);
}

.imageElement--image-carrefour:hover,
.imageElement--image-samsung:hover,
.imageElement--image-ablnbev:hover,
.imageElement--image-stanley:hover,
.imageElement--image-motorola:hover,
.imageElement--image-unilever:hover,
.imageElement--image-whirlpool:hover,
.imageElement--image-universal:hover,
.imageElement--image-decathlon:hover,
.imageElement--image-cea:hover{
  filter: grayscale(0);
  opacity: 80%;
  -webkit-transform: scale(0.92);
  transform: scale(0.92);
}