.listItem :global(.vtex-button) {
  background: transparent;
  color: black;
  border-color: transparent;
}

.listItemActive :global(.vtex-button) {
  background: transparent;
  color: #fcc200;
}

/* Estilizando um pouco o título de cada aba -Brendon */
