.flexRow--headermenu {
  height: 90px;
  background: #fff;
}

/* Tentei estilizar a altura do header pra ficar da mesma do site da acct, mas nao consegui 
adicionar o titulo das abas dentro do header ainda -Brendon */
.flexRowContent--main-header-mobile{
  background: #fff;
}

.flexColChild{
  margin-left: auto;
  margin-right: auto;
}

.container{
  padding-left: 300px; /* para centralizar mais as imagens e texto na tela */
  padding-right: 300px; /* problema: o footer ta indo junto e a imagem de tecnologia ta curta dms */
}